.footer,
.footer.container {

  max-width: 1440px !important;
  width: 100%;
  margin: 0 auto;
  background: #285A43;
  color: #FFFFFF;
}

.footer_container {
  padding: 0 !important;
}

.footer-title {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 140%;

  color: #FFFFFF;
  margin-bottom: 35px;
  margin-top: 75px;
  text-align: center;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 318px;
  width: 100%;
  margin: 0 auto 35px;
}

.footer-links {
  max-width: 650px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0 auto 64px;
  @media (max-width: 750px) {
    flex-direction: column;
    margin-bottom: 35px;
  }
}
.footer-links a{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #FFFFFF;

  opacity: 0.8;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

.footer_container p {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;

  color: #FFFFFF;

  opacity: 0.8;
  text-align: center;
  margin: 8px auto;
}

.footer-img--left {
  position: relative;
  opacity: 0.2;
  top: 35%;
  right: 50px;
  @media (max-width: 750px) {
    right: 160px;
    top: 50%;
  }
  @media (max-width: 500px) {
    right: 140px;
    top: 60%;
  }
}

.footer-img--right{
  position: relative;
  opacity: 0.2;
  top: 65%;
  @media (max-width: 750px) {
    top: 72%;
    right: 50px;
  }
  @media (max-width: 500px) {
    top: 80%;
    right: 60px;
  }
}

